<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1>Perfil</h1>

  <div *ngIf="user">

    <img [src]="user.avatar.storagePath" />

    <img [src]="user.avatar.storageBase64">

    <div class="avatar"></div>

    <p>Nom: </p>

    <p>Cognom: </p>

    <p>Naixament</p>

    <p>Canviar password</p>

  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
